body {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    font-size: 14px;
}

html {
    width: 100%;
    height: 100%;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.logo {
    margin-top: 6%;
}

.navbar-brand {
  float: left;

  padding: inherit;
  padding-left: 50px;
  padding-bottom: 40px;
}
.navbar-nav {
  float: right;
}

h1 {
    font-variant: small-caps;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background-image: url(../img/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.act-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: left;
    background-image: url(../img/EPHS.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.white {
    color: #fff;
    font-variant: small-caps;
}

.main {
    text-align: center;
    font-weight: bold;
    font-size: 10rem;
}

.appellate {
    text-align: left;
    font-weight: bold;
    font-size: 8rem;
    margin-top: -5%;
}

.list {
    font-size: 2rem;
    text-align: left;
    margin-left: 17%;

}

.join-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.afooter {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}
.afooter-links {
    padding-left: 0;
    margin-bottom: 20px;
}
.afooter-links li{
  display: inline-block;
  margin-left: 15px;
}
.afooter a{
  color: #fff;
}
@media (min-width: 768px)
.bs-docs-footer {
    text-align: left;
}


/*beta*/

/*buttons from skeleton*/

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 68px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #eee;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/*link hover*/

a:before, a:after, a > span:before, a > span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}
.effect-3 {
  display: inline-block;
  padding-top: -5px;
  padding-bottom: 5px;
  overflow: hidden;
}
.effect-3:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #0883a4;
  transform: translateX(-100%);
}
.effect-3:hover:before {
  transform: translateX(0);
}

.effect-2:before, .effect-2:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #0883a4;
}
.effect-2:before {
  border-width: 2px 0 2px 0;
  transform: scaleX(0);
}
.effect-2:after {
  border-width: 0 2px 0 2px;
  transform: scaleY(0);
}
.effect-2:hover:before, .effect-2:hover:after {
  transform: scale(1, 1);
}
