body {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.navbar-brand {
  float: left;

  padding: inherit;
  padding-left: 50px;
  padding-bottom: 40px;
}
.navbar-nav {
  float: right;
}
.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.act-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.join-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}
